* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
  width: 300px;
}
h1 {
  padding-bottom: 20px;
}
button {
  padding: 5px;
}
.category {
  padding-bottom: 50px;
}
.timer {
  display: flex;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid grey;
}
.timer__controls {
  margin-right: 10px;
}
.timer__name {
  width: 150px;
}
